<%- include('./partials/header.ejs') %>

<main class="error404">
	<h1 class="error404__title">404</h1>
	<p class="error404__text">Page Not Found</p>
	<img class="error404__image" src="/img/emojipng.com-10609090.png" alt="Pikachu picture">
</main>

<%- include('./partials/footer.ejs') %>